*.o
*.pc
*.pdf
*.tar.*
.project
.vscode/
.gdb_history
.cproject
gmon.out
autoscan.log
aclocal.m4
autom4te.cache
build-aux/ar-lib
build-aux/compile
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
m4/lt*
m4/libtool.m4
config.*
configure
libtool
Makefile
Makefile.in
cpdb/backend-interface.c
cpdb/backend-interface.h
cpdb/frontend-interface.c
cpdb/frontend-interface.h
cpdb/*.so
cpdb/*.o
cpdb/*.la
cpdb/*.lo
cpdb/.deps
cpdb/.libs
demo/print_frontend
demo/pickle_test
cpd-library*
